body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
}
a {
    text-decoration: none;
}
.header {
    background-color: #145079;
    font-size: 1rem;
    height: 48px;
    display: flex;
    align-items: center;
    -webkit-app-region: drag;
    z-index: 100;
    /* padding: 3px 10px 3px 10px; */
}
.h-link {
    color: #4d83a8;
    padding: 3px 10px 3px 10px;
    -webkit-app-region: no-drag;
}
.h-link:hover {
    color: #8da3c8;
}
.h-link.active {
    color: #b5cdd7 !important;
    -webkit-app-region: no-drag;
}
.h-menu-controls {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    flex-direction: row-reverse;
}
.h-menu-controls a {
    height: 48px;
    width: 48px;
    -webkit-app-region: no-drag;
    stroke: #4d83a8;
    background-color: #145079;
}
.h-menu-controls a:hover {
    stroke: #b5cdd7;
    background-color: #246089;
}
#closeWindow:hover {
    background-color: #892424;
}

.app {
    display: flex;
    z-index: 100;
}

.sidepanel {
    width: 240px;
    background-color: #f3f3f3;
    height: calc(100vh - 48px);
    z-index: 100;
    color: #444;
    overflow-y: scroll;
}

.sp-item-dropdown {
    display: flex;
    padding: 0 10px 0 10px;
    align-items: center;
    cursor: pointer;
    height: 32px;
}

.sp-item-dropdown i {
    font-size: 2rem !important;
    padding-right: 4px;
}

.sp-item-dropdown span {
    font-size: 0.8rem;
}

.sp-item {
    display: flex;
    padding: 0 10px 0 10px;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: calc(100% - 20px);
}

.sp-item:hover {
    background-color: #c7d1da;
}

.sp-item img {
    height: 1rem;
}

.sp-item span {
    padding-left: 1rem;
    font-size: 0.8rem;
}

.main-window {
    z-index: 0;
    overflow-x: scroll;
    overflow-y: scroll;
    width: calc(100vw - 240px);
    height: calc(100vh - 48px);
    position: relative;
    cursor: grab;
}

.main-window:active {
    cursor: grabbing;
}

.main-window::-webkit-scrollbar {
    display: none;
}

.status-bar {
    width: 500px;
    height: 4rem;
    position: fixed;
    left: 260px;
    bottom: 30px;
    z-index: 101;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    box-shadow: 1px 3px 5px darkgrey;
}

.status-flex {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.status-connection {
    font-size: 0.8rem;
    color: red;
}

.status-connection i {
    font-size: 0.8rem;
}

.status-description {

}

.qc-button {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.qc-button a {
    background-color: #3075bb;
    color: #f1f1f1;
    height: 1.5rem;
    padding-top: 0.5rem;
    width: 120px;
    text-align: center;
}

.map-marker {
    position: absolute;
    cursor: pointer;
    height: 3rem;
    z-index: 2;
}

.map-marker:hover {
    z-index: 50 !important;
}

.settings {
    display: none;
    width: 100vw;
    height: calc(100vh - 48px);
    flex-direction: column;
    padding: 0 2rem 0 2rem;
    background-color: #f3f3f3;
    overflow-y: scroll;
}

.set-item {
    display: flex;
    padding: 1rem 0 1rem 0;
    align-items: center;
}

.set-content {
    flex-grow: 1;
}

.set-header {
    font-size: 1.5rem;
}

.set-description {
    font-size: 0.8rem;
    color: #444;
}

.set-divider {
    background-color: #ccc;
    height: 1.2px !important;
    width: 100%;
}

.set-toggle {
    display: flex;
    align-items: center;
}

.set-toggle i {
    width: 24px;
    height: 24px;
}

.proto {
    width: 50px !important;
}

.set-toggle span {
    width: 25px;
    padding-left: 5px;
}

.set-dns {
    display:flex;
    flex-direction: column;
}

.dns-text {
    width: 3rem;
    text-align: center;
}

.dns-form {
    display: flex;
}

.dns-form span {
    flex-grow: 1;
    width: 100px;
}

.dns-buttons {
    display: flex;
    flex-direction: column;
}

.dns-buttons a {
    color: #f1f1f1;
    margin-right: 10px;
    padding: 4px 6px 4px 6px;
}

#dns-save {
    background-color: #3075bb;
}
#dns-clear {
    background-color: #892424;
}

/* .window-control {
    stroke: #4d83a8;
}

.window-control:hover {
    stroke: #b5cdd7;
} */
